Fix IANA section for Mediatype registration

From David Dong
IANA Services Sr. Specialist:

1) Could you please add the registration template for application/vcon to the I-D? Please see Section 5.6 of RFC 6838 ([https:/ / datatracker. ietf. org/ doc/ rfc6838/](https://datatracker.ietf.org/doc/rfc6838/) ).

If you have any questions, just let us know. If you'd like to talk in person, you can find us next to the RFC Editor's table from Monday through Thursday. You can also request another review at any time by contacting us at [iana@ iana. org](mailto:iana@iana.org).

For more information about IANA Considerations section requirements, please see

[https:/ / www. iana. org/ help/ protocol-registration](https://www.iana.org/help/protocol-registration)

Done pending review